.our-bikes {
    padding: var(--space) 0 var(--space) 15%;

    background-color: var(--grey11);
}

.our-bikes h3 {
    color: var(--grey5);

    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    padding: 1em 0;
}

.our-bikes h1 {
    color: var(--white);

    font-family: var(--secundary-font);
    font-size: 4rem;
    font-weight: 600;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#flex img {
    padding-right: 50px;
}

@media (max-width: 800px) {
    .our-bikes h3{
        font-size: 1.125rem;
    }

    .our-bikes h1 {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    #flex img {
        display: none;
    }

    .our-bikes {
        padding: var(--space) 0 var(--space) 5%;
    }
}